<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <style>
        body {
   background: url("/img/rainy.jpg") no-repeat center center fixed ;
   background-size: 100% 100%;
   height: 100%;
   position: absolute;
   width: 100%; }
    </style>
    {{!-- <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/head.css"> --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    
    <div class="main-content ">
        
        {{>header}}
        <div class="row align-items-center justify-content-center">
        <form class="mt-5 col-lg-12">
            <div class="form-inline">
            <div class="col-lg-3"></div>    
            <input type="text" placeholder="Enter Location" id="searchinp" class="form-control col-lg-5 border-top-0 border-right-0 border-left-0">
            <button class="btn btn-primary btn-round ml-1 col-lg-1">Search</button>
            </div>
        </form>

        </div>

        <div class="mt-4 col-lg-4" style="min-height: 100px;">
            <h1 id="address" class="text-white"></h1>
        </div>
        <div class="mt-4 col-lg-4 text-white" style="min-height: 100px;">
            <p id="temperature" class="text-white"></p>
            <p id="cloud"></p>
            <p id="humidity"></p>
            <p id="pressure"></p>
            <p id="windspeed"></p>
            <p id="ozone"></p>
            <p id="icon"></p>
            <h1>This Shows Weather Summary Of Full Day</h1>
            <p id="dailycloud"></p>
            <p id="highesttemp"></p>
            <p id="lowesttemp"></p>
            <p id="dailyhumidity"></p>
            <p id="dailypressure"></p>
            <p id="dailywindspeed"></p>
            <p id="dailyozone"></p>
        </div>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>